.container {
  padding: 20px 60px 20px 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.headingContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.headingContainer h1 {
  font-size: 36px;
  font-weight: 700;
  color: #35344c;
}

.headingContainer button {
  border-radius: 1.5rem;
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 8px 20px 8px 20px;
  border-color: #19be6f;
  border-width: 1px;
  font-family: "Hellix-Medium";
}

.arrow {
  width: 20px;
  transform: rotate(-90deg);
}

.innerContainer {
  display: flex;
  gap: 40px;
}

.cardOne {
  width: 60%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(53, 52, 76, 0.16);
}
.imageOne {
  width: 100%;
  overflow: hidden;
  height: 500px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.date {
  font-size: 14px;
}

.title {
  font-weight: 700;
}

.description {
  font-size: 16px;
}

.imageTwo {
  width: 100%;
  height: 250px;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 40%;
}

.cardTwo {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(53, 52, 76, 0.16);
}

.link {
  font-family: "Hellix-Regular";
  text-decoration: underline;
  text-underline-offset: 0.25em;
}
