.container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  padding: 120px 60px 140px 60px;
  background: #00043c;
  display: flex;
  color: white;
  align-items: center;
  gap: 80px;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 40%;
}

.content h1 {
  font-family: "Hellix-Bold";
  font-size: 60px;
  font-weight: 700;
}

.content p {
  font-family: "Hellix-Medium";
}

.formContainer {
  position: relative;
  height: fit-content;
  width: fit-content;
  z-index: 10;
  margin: 0px 40px 0px 0px;
}
.rectangle {
  position: absolute;
  z-index: -10;
  left: 40px;
  top: 40px;
  width: 100%;
  height: 100%;
  background: #d64100;
}

.formContainer form {
  font-family: "Hellix-Medium";
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: black;
  background: white;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item input {
  border-color: black;
  border-width: 0px 0px 1px 0px;
}

.lastRow {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: start;
}

.radioContainer {
  display: flex;
  gap: 8px;
}

.button {
  font-family: "Hellix-Medium";
  color: white;
  background: #d64100;
  padding: 8px 20px 8px 20px;
}
