.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  heigth: 100vh;
  color: white;
  background: #060342;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
  height: 100%;
  padding: 0px 0px 0px 100px;
}

.content h1 {
  font-size: 70px;
  font-weight: 700;
}

.content p {
  width: 90%;
  font-size: 25px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.buttonOne {
  border-radius: 1.5rem;
  width: 150px;
  padding: 8px 0px 8px 0px;
  border-color: white;
  border-width: 1px;
}

.buttonTwo {
  border-radius: 1.5rem;
  background: #d64100;
  width: 150px;
  padding: 8px 0px 8px 0px;
}

.imageContainer {
  height: 100vh;
  width: 50%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
