.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  width: 100%;
  height: 100vh;
  background: blue;
  background-image: url("../../../../public/assets/imageFourteen.png");
  background-size: cover; /* Adjusts the size of the background image */
  background-position: center; /* Positions the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
}

.container::before {
  z-index: 10;
  content: ""; /* Required for the pseudo-element */
  position: absolute; /* Position the pseudo-element relative to the parent */
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire parent element */
  height: 100%;
  background-color: rgba(6, 3, 66, 0.51);
}

.container h1 {
  font-weight: 700;
  color: white;
  font-size: 50px;
  z-index: 15;
}

.container p {
  text-align: center;
  width: 50%;
  color: white;
  z-index: 15;
}

.container button {
  z-index: 15;
  background: #d64100;
  border-radius: 1.5rem;
  padding: 8px 20px 8px 20px;
  color: white;
}
