@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hellix-Bold";
  src: url("../public/assets/Hellix-Bold.ttf");
}
@font-face {
  font-family: "Hellix-Medium";
  src: url("../public/assets/Hellix-Medium.ttf");
}
@font-face {
  font-family: "Hellix-Regular";
  src: url("../public/assets/Hellix-Regular.ttf");
}

.hellix-bold {
  font-family: "Hellix-Bold";
}

.hellix-medium {
  font-family: "Hellix-Medium";
}

.hellix-regular {
  font-family: "Hellix-Regular";
}

.box {
  box-shadow: 0 22px 44px rgba(0, 0, 0, 0.14);
}

.shadow-two {
  box-shadow: 0 22px 44px rgba(255, 232, 206, 100);
}

.shadow-three {
  box-shadow: 0 4px 4px rgba(53, 52, 76, 0.16);
}

.gradient {
  background: linear-gradient(to bottom, #d64100 0%, #0c0b1d 100%);
}
