.container {
  padding: 100px 100px 100px 0px;
  display: flex;
  align-items: center;
  gap: 100px;
  position: relative;
}

.imageContainer {
  width: 400px;
  height: 100%;
  position: relative;
}

.leftContainer {
  background: #e3edfd;
  padding: 100px 150px 100px 100px;
}

.imageOne {
  width: 100%;
  height: 100%;
}

.imageTwoContainer {
  width: 260px;
  position: absolute;
  top: 65%;
  left: 64%;
}

.imageTwo {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content h1 {
  font-size: 55px;
  font-weight: 700;
}

.content p {
  width: 75%;
  line-height: 2;
}

.link {
  color: #d64100;
}
