.hero {
  height: 100vh;
  padding: 0 150px;
  background-color: #00043c;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: start;
  width: 55%;
  gap: 30px;
}

.title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  font-family: "Hellix-Bold";
}

.highlight {
  color: #d64100;
}

.description {
  font-size: 20px;
  width: 80%;
  font-family: "Hellix-Regular";
}

.btn {
  font-family: "Hellix-Medium";
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 30px;
  background-color: #d64100;
  color: white;
  cursor: pointer;
}

.image {
  height: 77%;
  overflow: hidden;
  position: absolute;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  bottom: 0px;
  right: 0px;
  background: linear-gradient(to bottom, #d64100 0%, #0c0b1d 100%);
}

.image img {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
